.addTask {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 60px);
}

.error {
	margin: 10px;
	background-color: red;
	color: white;
	padding: 4px;
	border-radius: 3px;
}

.tasksBlock {
  width: 600px;
  height: 600px;
  background-color: rgb(168, 181, 193);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.input {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  border: 1px solid #eee;
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
}

.button {
  font-size: 17px;
  font-weight: 400;
  padding: 10px;
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
  border-radius: 0px 10px 10px 0px;
  color: #eee;
  background-color: var(--bg-color);
}
